body{
	margin: 0;
	padding:0;
}
.sidebar, .content{
	border:1px solid #777;
}
.sidebar{
	width: 300px;
    left:0;
    top:0;
	position: absolute;
    background-color: #E9E9E9;
}
.content{
	width: 100%;
    margin-left:300px
}

.active-employee {
    background-color: #BCBCBC;
}